html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/polygon.svg);
  background-size: 25%;
  background-position-x: right;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  margin-right: 25px;
  width: 50px;
}

.logo-name {
  color: #432534;
  font-family: 'Lobster', cursive;
}
